/*-------------------------------------------------------------------------*/
/* # INDEX PAGE
/*-------------------------------------------------------------------------*/


/**
* Header
* ----------------------------------------------------------------------------
*/
nav.lang {
	a.en:lang(en), 
	a.ua:lang(ua), 
	a.ru:lang(ru){
		font-weight: bold;
	}
}

nav.pages {
	a {
		font-weight: bold;
	}
}

nav.golden-links {
	a {
		display: inline-block;
	}
}

article.isotope-item {
	float: left;
	width: 33.3333333333333333333%;
	@include min-screen(768px) {width: 100%;}
}
// @media (max-width:767px) {
// 	article.isotope-item {
// 		width: 100%;
// 	}
// }
