/*-------------------------------------------------------------------------*/
/* # INDEX PAGE
/*-------------------------------------------------------------------------*/

.index-page {
	section.index-top {
		border-bottom: 1px solid $divider;
		h1 {
			margin-top: 150px;
			margin-bottom: 90px;
		}
		nav.golden-links {
			margin-bottom: 60px;
			a {
				margin-left: 50px;
				margin-bottom: 50px;
			}
			p {
				// margin-bottom: 60px;
			}
		}
	}
}
