<div class="index-page">
    <section class="index-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-right">

                    <h1>{{ site.data.l10n.t[page.lang].home.wewillshare }}</h1>
                    {% include golden-links.html %}

                </div>
            </div>
        </div>
    </section>

    <nav>
        <a href="#">{{ site.data.l10n.t[page.lang].home.adventure }}</a>
        <a href="#">{{ site.data.l10n.t[page.lang].home.stroll }}</a>
        <a href="#">{{ site.data.l10n.t[page.lang].home.lviv }}</a>
    </nav>

    <div class="isotope-container">
        {% for i in site.data.routes %}
        <article class="isotope-item">
            <h4>{{ i.title[page.lang] }}</h4>
        </article>
        {% endfor %}
    </div>

    {% include golden-links.html %}

    <h2>{{ site.data.l10n.t[page.lang].home.citystories }}</h2>

    <article>
        <h6>{{ site.data.l10n.t[page.lang].home.story1title }}</h6>
        <p>{{ site.data.l10n.t[page.lang].home.story1descr }}</p>
    </article>

    <article>
        <h6>{{ site.data.l10n.t[page.lang].home.story2title }}</h6>
        <p>{{ site.data.l10n.t[page.lang].home.story2descr }}</p>
    </article>

    <article>
        <h6>{{ site.data.l10n.t[page.lang].home.story3title }}</h6>
        <p>{{ site.data.l10n.t[page.lang].home.story3descr }}</p>
    </article>

    <article>
        <h6>{{ site.data.l10n.t[page.lang].home.story4title }}</h6>
        <p>{{ site.data.l10n.t[page.lang].home.story4descr }}</p>
    </article>


    <h2>{{ site.data.l10n.t[page.lang].home.strollwithin }}</h2>

    <div>{{ site.data.l10n.t[page.lang].home.uniqueplaces }}</div>
    <div>{{ site.data.l10n.t[page.lang].home.themedrestaurants }}</div>
    <div>{{ site.data.l10n.t[page.lang].home.themedhotels }}</div>
    <div>{{ site.data.l10n.t[page.lang].home.historicalsights }}</div>


    <h2>{{ site.data.l10n.t[page.lang].home.manyother }}</h2>

    {% include golden-links.html %}

    <div>{{ site.data.l10n.t[page.lang].global.needhelp }}</div>
    <div>{{ site.data.l10n.t[page.lang].global.mailus }}</div>
    <div>{{ site.data.l10n.t[page.lang].global.callus }}</div>
</div>
