/*-------------------------------------------------------------------------*/
/* # BASE
/*-------------------------------------------------------------------------*/
html {
    position: relative;
    height: 100%;
}
body {
    background: $bg-color;
    color: $text-color;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'PT Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    position: relative;
    height: 100%;
    text-align: center;
}


/**
* Typography
* ----------------------------------------------------------------------------
*/
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 20px;
    span {
        color: $accent-color;
    }
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 20px;
}
h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 0 20px;
}
h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
h6 {
    font-size: 14px;
    margin: 0 0 10px;
}
.small {
    font-size: 10px;
    line-height: 1.2;
    margin: 0;
}
p {
    margin: 0 0 10px;
}


/**
* Links
* ----------------------------------------------------------------------------
*/
a {
    color: $link-color;
    text-decoration: none;
    outline: 0;
    @include transition(all 0.25s $ease-out-quint);

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}


/**
* Selection colors
* ----------------------------------------------------------------------------
*/
::selection {
    background: $selection-bg-color;
    color: $selection-color;
}
::-moz-selection {
    background: $selection-bg-color;
    color: $selection-color;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: $selection-bg-color;
}














/**
* Header
* ----------------------------------------------------------------------------
*/
nav.lang {
    a.en:lang(en), 
    a.ua:lang(ua), 
    a.ru:lang(ru){
        font-weight: 700;
    }
}

nav.pages {
    a {
        font-weight: 700;
    }
}

nav.main-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // width: 100%;
    padding: 35px 0 0 2.5%;
    text-align: left;
    @include box-sizing(border-box);
    a {
        display: inline-block;
        svg {
            float: left;
            width: 45px;
            margin-right: 35px;
        }
        >span {
            display: inline-block;
            text-transform: uppercase;
            color: #f7c82e;
            line-height: 45px;
            color: #7d7d7d;
            font-size: 15px;
            font-weight: 700;
            >span {
                color: #f7c82e;
            }
        }
    }
}



article.isotope-item {
    float: left;
    width: 33.3333333333333333333%;
    @include media("<=tablet") {width: 100%;}
}

