.hero {
    text-align: right;

    &__title {
        margin-top: 160px;
        margin-bottom: 90px;
        font-weight: 700;
        font-size: 35.5px;
        text-transform: uppercase;

        span {
            color: $accentColor;
        }
    }

    &__mobiles {
        position: relative;
        text-align: left;
        // transform: translate3d(0,-12%,0);
    }


    &__home {
        position: relative;
        // top: 0;
        // left: 5%;
        width: 60%;
        z-index: 20;
        float: left;
        margin-top: -29%;
        // margin-right: -20%;
    }

    &__map {
        position: relative;
        top: 0;
        // left: 20%;
        width: 40%;
        z-index: 10;
        float: left;
        margin-top: 3%;
        margin-left: -17%;
    }
}
