// Body
$bodyBg: #fff;
$bodyFont: 400 14px/1.3 'PT Sans', Helvetica, Arial, sans-serif;

// Grid
$gridIndent: 20px;

// Colors
$accentColor: #f6c62a;
$linkColor: $accentColor;
$linkColorHover: darken($accentColor,12.5%);

@import 'vendor/coriolan-ui/coriolan-ui';
@import 'vendor/icomoon';

@import 'sidebar';
@import 'home-menu';
@import 'golden-links';
@import 'hero';
@import 'routes';
@import 'stories';

body {
    max-width: 1792px;
    margin: auto;
}
