---
layout: default
---

<h1>{{ site.data.l10n.t[page.lang].about.startwithus }}</h1>

<h2>{{ site.data.l10n.t[page.lang].about.createroutes }}</h2>
<p>{{ site.data.l10n.t[page.lang].about.helpus }}</p>
<a href="#">{{ site.data.l10n.t[page.lang].about.contactus }}</a>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <h2>{{ site.data.l10n.t[page.lang].about.meetourteam }}</h2>

            <div class="isotope-container">

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.pivniuk }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.pivniukposition }}</h6>
                </article>

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.domnikov }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.domnikovposition }}</h6>
                </article>

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.orlovskyi }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.orlovskyiposition }}</h6>
                </article>

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.makhotina }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.makhotinaposition }}</h6>
                </article>

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.overchyk }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.overchykposition }}</h6>
                </article>

                <article class="isotope-item">
                    <h4>{{ site.data.l10n.t[page.lang].about.klapak }}</h4>
                    <h6>{{ site.data.l10n.t[page.lang].about.klapakposition }}</h6>
                </article>

            </div>

        </div>
    </div>
</div>

<h2>{{ site.data.l10n.t[page.lang].about.contact }}</h2>
<p>{{ site.data.l10n.t[page.lang].about.address }}</p>
<h2>{{ site.data.l10n.t[page.lang].about.help }}</h2>
<p>{{ site.data.l10n.t[page.lang].global.needhelp }}</p>
<p>{{ site.data.l10n.t[page.lang].global.helpus }}</p>
<p>{{ site.data.l10n.t[page.lang].global.callus }}</p>

{% include golden-links.html %}
